{% extends "base.html" %}

{% block title %}Index{% endblock %}

{% block content %}
<h1>Words List</h1>
<hr/>

{% if words %}
	{% for item in words %}
		<div>
			<h3>{{item.word}}</h3>
			<a href=# id="detail" class="btn btn-info" role="button">detail</a>

			<a href="{{ url_for('index.delete_word', id=item.id)}}" \
				class="btn btn-info" role="button">delete</a>
		</div>			
		<hr/>
	{% endfor %}

	
{% endif%}

{% endblock %}

{% block scripts %}
{{super()}}
<script type="text/javascript">
$(function(){

	method_get = function(event){
		var docu = this
		console.log('index:', index)
		$.get("{{url_for('index.word_detail', id=4)}}", function(data, status){
			
			if(status == 'success')
			{
				$(docu).parent().append(data.task);
			}
			else
			{
				alert("Data: " + data.task);
			}
		});
	};

	method_ajax = function(){
		$.ajax({type:'GET', url:"{{url_for('index.word_detail', id=4)}}",
			success:function(data, textStatus){
				$(this).parent().hide();
			},
			error: function(XMLResponse) {  
                alert(XMLResponse.responseText)  
            }
		})
	};

	method_test = function(){
		$(this).parent().hide();
	};

	$('a#detail').click(method_get);
});
</script>
{% endblock%}
